{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
		</div>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<strong>Tags: </strong>
				<span>
				{{ range .Params.tags }}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
				</span>
			</nav>
			{{ end }}
			{{ end }}
		</div>

		{{ if isset .Params "description" }}
		<div class="description">
			{{ .Params.description }}
		</div>
		{{ end }}

		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>

		{{- $.Scratch.Set "isDisqus" true -}}
		<!-- Check if disqus short name is given -->
		{{ if not .Site.Config.Services.Disqus.Shortname }}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{ end }}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}
		
		<div class="line-divider"></div>
		<div class="post-navigation">
			{{ if .Prev }}
			  <a href="{{ .Prev.Permalink }}" class="prev-post">Previous Post: {{ .Prev.Title }}</a>
			{{ end }}
			{{ if .Next }}
			  <a href="{{ .Next.Permalink }}" class="next-post">Next Post: {{ .Next.Title }}</a>
			{{ end }}
		</div>
	</article>
</main>
{{ end }}
